<% content_for :title, @contact_page.title %>

<section class="page-banner">
  <h1><%= @contact_page.title %></h1>
</section>

<section class="contact-page">
  <div class="contact-introduction">
    <%= simple_format(@contact_page.content) %>
  </div>

  <div class="contact-row">
    <div class="contact-item">
      <svg class="contact-icon phone-contact-icon"
           xmlns="http://www.w3.org/2000/svg"
           viewBox="0 0 267.36 512"
           preserveAspectRatio="xMidYMid meet"
           aria-hidden="true">
        <g>
          <g>
            <path style="fill:#2D2D33;" d="M267.36,22.649v466.702c0,12.432-10.146,22.649-22.577,22.649H22.577
              c-1.429,0-2.787-0.143-4.144-0.429c-9.074-1.643-16.29-8.931-18.005-18.005C0.143,492.209,0,490.78,0,489.351
              V22.649C0,10.217,10.146,0,22.577,0h222.205c1.572,0,3.072,0.143,4.572,0.5c8.717,1.786,15.719,8.788,17.505,17.505
              c0,0.072,0,0.072,0,0.072C267.217,19.577,267.36,21.077,267.36,22.649z"/>

            <path style="fill:#1E1F21;" d="M168.045,42.771H99.314c-2.843,0-5.169-2.326-5.169-5.169
              c0-2.843,2.326-5.169,5.169-5.169h68.731c2.843,0,5.169,2.326,5.169,5.169
              C173.214,40.445,170.888,42.771,168.045,42.771z"/>

            <path style="fill:#121313;" d="M173.031,35.559c-0.861-0.701-1.953-1.122-3.145-1.122H100.85
              c-2.755,0-5.018,2.254-5.018,5.018v0.301c0,0.671,0.14,1.312,0.391,1.903
              c-1.152-0.911-1.893-2.334-1.893-3.907v-0.3c0-2.765,2.264-5.019,5.018-5.019h69.036
              C170.477,32.433,172.28,33.726,173.031,35.559z"/>

            <circle style="fill:#1E1F21;" cx="133.68" cy="473.707" r="20.531"/>

            <path style="fill:#121313;" d="M151.675,460.949c-3.416-2.674-7.713-4.267-12.381-4.267
              c-11.099,0-20.104,9.005-20.104,20.114c0,4.658,1.583,8.945,4.247,12.351
              c-4.718-3.676-7.753-9.416-7.753-15.857c0-11.109,9.005-20.114,20.114-20.114
              C142.249,453.176,147.999,456.221,151.675,460.949z"/>

            <polygon style="opacity:0.3;fill:#F4F4F5;" points="17.428,66.043 17.428,380.991 17.428,381.492 17.428,434.414 249.931,434.414 249.931,381.492 249.931,380.991 249.931,66.043"/>

            <g>
              <linearGradient id="phone-gradient-1"
                              gradientUnits="userSpaceOnUse"
                              x1="133.6799"
                              y1="434.414"
                              x2="133.6799"
                              y2="66.0431">
                <stop offset="0.1304" style="stop-color:#C7D38D"/>
                <stop offset="1" style="stop-color:#C7D38D"/>
              </linearGradient>

              <rect x="17.428"
                    y="66.043"
                    style="fill:url(#phone-gradient-1);"
                    width="232.503"
                    height="368.371"/>

              <rect x="17.428"
                    y="381.492"
                    style="opacity:0.2;fill:#F4F4F5;"
                    width="232.503"
                    height="52.922"/>

              <g style="opacity:0.4;">
                <rect x="49" y="127" style="fill:#F4F4F5;" width="172" height="79"/>
                <polygon style="fill:#F4F4F5;" points="128.015,227 49,227 49,220 148.048,220"/>
                <polygon style="fill:#F4F4F5;" points="151.053,106 92,106 92,99 171.087,99"/>
                <polygon style="fill:#F4F4F5;" points="206.146,256 49,256 49,249 226.179,249"/>
                <polygon style="fill:#F4F4F5;" points="206.146,285 49,285 49,270 226.179,270"/>
                <polygon style="fill:#F4F4F5;" points="206.146,306 49,306 49,299 226.179,299"/>
                <polygon style="fill:#F4F4F5;" points="206.146,335 49,335 49,327 226.179,327"/>
                <polygon style="fill:#F4F4F5;" points="184.109,356 49,356 49,349 204.143,349"/>

                <path style="fill:#F4F4F5;" d="M63.166,84.618l14.521,13.476c0.866,0.804,0.866,2.175,0,2.979
                  l-14.521,13.476c-0.779,0.723-1.985,0.723-2.764,0L45.881,101.073
                  c-0.866-0.804-0.866-2.175,0-2.979l14.521-13.476C61.181,83.894,62.387,83.894,63.166,84.618z"/>

                <g>
                  <polygon style="fill:#F4F4F5;" points="202.105,78.252 205.606,81.501 202.105,84.75 198.604,81.501"/>
                  <polygon style="fill:#F4F4F5;" points="213.438,78.252 216.939,81.501 213.438,84.75 209.936,81.501"/>
                  <polygon style="fill:#F4F4F5;" points="190.772,78.252 194.273,81.501 190.772,84.75 187.271,81.501"/>
                </g>
              </g>

              <g>
                <path style="opacity:0.3;fill:#F4F4F5;" d="M47.16,427.903c-10.33,0-18.781-8.452-18.781-18.781
                  c0-10.33,8.452-18.782,18.781-18.782c10.33,0,18.781,8.452,18.781,18.782
                  C65.941,419.451,57.49,427.903,47.16,427.903z"/>

                <path style="opacity:0.3;fill:#F4F4F5;" d="M104.84,427.903c-10.33,0-18.781-8.452-18.781-18.781
                  c0-10.33,8.452-18.782,18.781-18.782c10.33,0,18.782,8.452,18.782,18.782
                  C123.621,419.451,115.17,427.903,104.84,427.903z"/>

                <path style="opacity:0.3;fill:#F4F4F5;" d="M162.52,427.903c-10.33,0-18.782-8.452-18.782-18.781
                  c0-10.33,8.452-18.782,18.781-18.782c10.33,0,18.781,8.452,18.781,18.782
                  C181.301,419.451,172.85,427.903,162.52,427.903z"/>

                <path style="opacity:0.3;fill:#F4F4F5;" d="M220.2,427.903c-10.33,0-18.782-8.452-18.782-18.781
                  c0-10.33,8.452-18.782,18.782-18.782c10.33,0,18.781,8.452,18.781,18.782
                  C238.981,419.451,230.53,427.903,220.2,427.903z"/>
              </g>
            </g>
          </g>

          <path style="opacity:0.1;fill:#F4F4F5;" d="M0.5,18.077c1.786-8.789,8.788-15.791,17.505-17.577
            c1.5-0.357,3.001-0.5,4.572-0.5H133.68v512H22.577C10.146,512,0,501.783,0,489.351
            V22.649C0,21.077,0.143,19.577,0.5,18.077z"/>
        </g>
      </svg>

      <div class="contact-text">
        <h2>Phone</h2>
        <p><%= @contact_page.phone %></p>
      </div>
    </div>

    <div class="contact-item">
      <svg class="contact-icon"
           xmlns="http://www.w3.org/2000/svg"
           viewBox="0 0 512 512"
           preserveAspectRatio="xMidYMid meet"
           aria-hidden="true">
        <g>
          <linearGradient id="email-gradient-1"
                          gradientUnits="userSpaceOnUse"
                          x1="256.0002"
                          y1="347.8895"
                          x2="256.0002"
                          y2="0">
            <stop offset="0" style="stop-color:#DA9621"/>
            <stop offset="0.7685" style="stop-color:#EAA12F"/>
          </linearGradient>

          <path style="fill:url(#email-gradient-1);" d="M511.972,170.467v11.507c-0.6,0.427-1.372,0.937-2.143,1.448l-19.117,13.041
            c-1.285,0.853-2.828,1.875-4.371,2.984c-7.973,5.283-18.345,12.358-25.203,16.876L293.376,329.769
            l-5.315,3.58l-15.602,10.569c-1.972,1.278-4.286,2.301-6.858,2.983c-1.029,0.34-2.229,0.511-3.343,0.681
            c-0.172,0.085-0.343,0.085-0.428,0.085c-1.972,0.256-3.943,0.256-5.83,0.171
            c-1.886,0.085-3.857,0.085-5.829-0.171c-1.285-0.171-2.572-0.427-3.772-0.767
            c-2.572-0.681-4.886-1.705-6.858-2.983l-7.029-4.774l-8.572-5.795L50.862,216.324
            c-1.886-1.279-4.029-2.728-6.429-4.262c-6-4.006-13.03-8.779-18.774-12.614
            c-1.543-1.109-3.086-2.131-4.372-2.984L2.171,183.423c-0.771-0.511-1.543-1.022-2.143-1.448
            v-11.507c0-1.96,0.257-3.494,0.686-4.943c0-0.084,0.086-0.084,0.086-0.084
            c0.429-0.341,0.857-0.597,1.371-0.939l6.172-4.262l12.944-8.779
            c8.143-5.454,21.431-14.489,29.574-19.859L239.541,4.007
            c4.544-2.898,10.544-4.262,16.459-3.921c0.6,0,1.114-0.085,1.715-0.085h0.086
            c5.315,0,10.63,1.365,14.659,4.007l188.679,127.594c6.772,4.432,17.059,11.421,25.031,16.792
            c1.629,1.107,3.172,2.131,4.543,3.067l12.944,8.779l6.172,4.262
            c0.514,0.341,0.943,0.597,1.371,0.939C511.715,166.888,511.972,168.507,511.972,170.467z"/>

          <linearGradient id="email-gradient-2"
                          gradientUnits="userSpaceOnUse"
                          x1="256.0005"
                          y1="398.9169"
                          x2="256.0005"
                          y2="51.0644">
            <stop offset="0" style="stop-color:#DA9621"/>
            <stop offset="0.7685" style="stop-color:#EAA12F"/>
          </linearGradient>

          <path style="fill:url(#email-gradient-2);" d="M512,221.49v11.441c-0.625,0.443-1.429,0.976-2.141,1.508
            l-19.179,13.037c-8.116,5.41-21.407,14.455-29.524,19.866L272.502,394.875
            c-2.051,1.33-4.371,2.305-6.868,3.015c-3.032,0.887-6.422,1.153-9.633,0.975
            c-3.211,0.178-6.601-0.089-9.633-0.975c-2.498-0.71-4.817-1.685-6.868-3.015
            L50.845,267.341c-8.117-5.411-21.408-14.456-29.524-19.866L2.142,234.439
            c-0.712-0.533-1.516-1.065-2.141-1.508V221.49c0-1.951,0.268-3.548,0.714-4.966
            c0-0.089,0.089-0.089,0.089-0.089c0.446-0.355,0.892-0.622,1.337-0.977
            l6.245-4.257l12.934-8.78c8.116-5.41,21.407-14.455,29.524-19.866L239.499,55.023
            c4.549-2.927,10.614-4.258,16.501-3.903c5.887-0.355,12.042,0.975,16.501,3.903
            l188.655,127.532c8.117,5.411,21.408,14.456,29.524,19.866l12.934,8.78l6.245,4.257
            c0.445,0.355,0.891,0.621,1.337,0.977C511.732,217.853,512,219.539,512,221.49z"/>

          <path style="fill:#CC8529;" d="M262.258,314.513v35.968h-1.029l-11.487,0.767H0.028V173.792
            c0-1.96,0.257-3.58,0.686-4.944c0-0.085,0.086-0.085,0.086-0.085
            c0.943-2.983,2.829-4.688,5.315-5.114l10.716,6.307l5.057,2.983l23.06,13.553
            l1.2,0.681l14.659,8.609l166.819,98.359l0.343,0.171l33.089,19.433L262.258,314.513z"/>

          <path style="fill:#F6B75A;" d="M266.715,336.247c0,0.085-1.714,1.279-4.457,3.239
            c-1.715,1.108-3.858,2.558-6.258,4.262c-1.2,0.767-2.486,1.619-3.857,2.557
            l-1.972,1.363l-3.772,2.557l-1.629,1.023l-26.66,17.984c-2.829,1.875-5.658,3.835-8.229,5.626
            c-4.886,3.324-8.916,6.051-10.287,6.903c-1.972,1.449-10.201,6.99-18.345,12.529
            l-44.577,30.088l-0.172,0.171l-0.085,0.085L27.031,498.447
            c-1.886,1.279-3.943,2.642-5.915,4.006c-1.115,0.767-2.229,1.449-3.343,2.216
            H8.515c-4.972,0-7.801-1.108-8.401-2.983c0-0.085,0-0.085,0-0.085
            c0-0.341-0.086-0.597,0-1.023c-0.086-0.512-0.086-1.023-0.086-1.62V173.792
            c0-1.96,0.257-3.58,0.686-4.944c0-0.085,0.086-0.085,0.086-0.085
            c0.943-2.983,2.829-4.688,5.315-5.114c0.771-0.256,1.457-0.256,2.229-0.171
            c1.886,0.085,4.029,0.938,6.344,2.472l30.346,20.456l1.114,0.767l13.116,8.864
            c0.257,0.171,0.514,0.341,0.771,0.512c8.058,5.455,20.745,14.064,28.632,19.348
            l153.446,103.729c0.172,0.085,0.343,0.171,0.429,0.256
            c0.257,0.171,0.514,0.341,0.771,0.512c2.057,1.363,4.029,2.728,5.829,3.92
            c3.001,1.96,5.401,3.665,6.858,4.688c0.857,0.512,1.458,0.852,1.543,0.937
            c0.343,0.255,2.486,1.705,4.715,3.324C264.744,334.968,266.715,336.161,266.715,336.247z"/>

          <path style="fill:#F0A642;" d="M511.865,171.974c0.074,1,0.134,2.92,0.134,4.267v320.232
            c0,1.347,0,2.708,0,3.025c0,0.317-0.089,1.248-0.089,1.419c0,0.171,0,0.311,0,0.666
            c0,0,0,0.02,0,0.044c0,0.024-0.783,0.723-1.74,1.551c-0.957,0.829-7.747,1.507-9.094,1.507
            h-4.378c-1.347,0-3.365-0.612-4.486-1.359l-5.204-3.489c-1.12-0.748-2.95-1.976-4.066-2.731
            L332.776,395.641c-1.116-0.754-2.942-1.988-4.058-2.742l-14.324-9.753
            c-1.112-0.76-2.935-1.999-4.05-2.754l-14.412-9.754c-1.113-0.758-2.938-1.994-4.055-2.747
            l-24.216-16.33c-1.117-0.753-2.944-1.984-4.062-2.736l-1.734-1.167
            c-1.117-0.752-2.95-1.976-4.072-2.72c0,0-0.635-0.421-1.795-1.219
            c-6.155-4.257-10.704-7.362-10.704-7.451c0-0.089,1.963-1.329,4.282-2.926
            c2.318-1.597,2.885-1.986,2.885-1.986c1.111-0.762,2.161-1.484,2.332-1.607
            c0.172-0.122,2.109-1.383,3.214-2.152c0,0,5.125-3.567,10.657-7.204
            c0.268-0.178,0.268-0.178,0.268-0.178c0.294-0.195,0.595-0.394,0.668-0.443
            c0.073-0.049,0.954-0.617,1.74-1.153c0.785-0.536,2.341-1.592,3.457-2.346
            l146.508-98.984c1.116-0.754,2.941-1.989,4.056-2.745l25.377-17.123
            c1.117-0.753,2.944-1.985,4.06-2.739l40.451-27.324c1.116-0.754,3-1.892,4.187-2.529
            c0,0,1.065-0.637,2.169-0.881c1.104-0.244,3.079-0.189,4.389,0.123l3.792,2.662
            C510.562,167.836,511.791,170.974,511.865,171.974z"/>

          <path style="fill:#CC8529;" d="M511.999,458.657v40.265c0,0.62,0,1.153-0.089,1.685
            c0.089,0.355,0,0.621,0,0.976v0.089c-0.625,1.862-3.48,3.014-8.385,3.014
            H46.383l90.001-80.084l0.089-0.089l112.657-100.216l10.972-9.668l2.942-2.661
            l9.723,5.677L511.999,458.657z"/>

          <path style="fill:#F6AF47;" d="M511.999,497.414v1.508c0,0.62,0,1.153-0.089,1.685
            c0.089,0.355,0,0.621,0,0.976v0.089c-0.625,1.862-3.48,3.014-8.385,3.014
            H8.474c-4.905,0-7.76-1.152-8.385-3.014v-0.089c0-0.355-0.089-0.621,0-0.976
            C0,500.075,0,499.542,0,498.922v-1.508c0.803-1.064,1.963-2.128,3.479-3.193
            L241.549,320.57c0.089,0,0.089-0.088,0.179-0.176c0.268-0.178,0.536-0.355,0.803-0.532
            c4.905-3.46,9.901-5.855,13.469-6.74c1.249,0.354,2.586,0.797,4.104,1.507
            c2.854,1.153,6.154,3.016,9.365,5.233c0.356,0.265,0.624,0.443,0.981,0.708
            l238.069,173.651C510.035,495.374,511.195,496.438,511.999,497.414z"/>
        </g>
      </svg>

      <div class="contact-text">
        <h2>Email</h2>
        <p><%= @contact_page.email %></p>
      </div>
    </div>
  </div>

  <div class="contact-row">
    <div class="contact-item">
      <svg class="contact-icon"
           xmlns="http://www.w3.org/2000/svg"
           viewBox="0 0 512 512"
           preserveAspectRatio="xMidYMid meet"
           aria-hidden="true">
        <g>
          <path style="fill:#7C6564;" d="M430.008,4.666c-1.284-0.336,1.273,9.945-0.037,9.675
            c-0.044-0.009-3.912-10.681-3.956-10.69c-4.829-0.982-6.003,9.165-11.118,9.165
            H84.938C43.594,12.816,9.958,46.453,9.958,87.797v174.611L1.134,437.019
            C1.134,478.363,28.057,512,84.938,512h329.94c41.344,0,74.981-33.637,74.981-74.981
            V262.408V87.797C489.859,53.009,462.19,13.095,430.008,4.666z"/>

          <path style="fill:#CAB0AD;" d="M441.34,424.201c0,20.115-16.306,36.421-36.42,36.421H74.983
            c-20.114,0-36.42-16.306-36.42-36.421V249.592H0v174.611
            c0,41.344,33.637,74.981,74.981,74.981h329.94c41.344,0,74.981-33.637,74.981-74.981
            V249.592H441.34V424.201z"/>

          <path style="fill:#A777B1;" d="M74.983,460.622h329.937c20.114,0,36.42-16.306,36.42-36.421
            V249.592H38.562v174.609C38.562,444.316,54.868,460.622,74.983,460.622z"/>

          <path style="fill:#BBA7A6;" d="M404.921,0H74.981C33.637,0,0,33.637,0,74.981v174.611h38.562
            V74.983c0-20.115,16.306-36.421,36.42-36.421h329.937c20.114,0,36.42,16.306,36.42,36.421
            v174.609h38.562V74.981C479.902,33.637,446.265,0,404.921,0z"/>

          <path style="fill:#C9A7A7;" d="M479.883,75.006v5.913c0-41.328-33.616-74.943-74.944-74.943
            H74.962c-41.328,0-74.943,33.615-74.943,74.943v-5.913C0.019,33.679,33.634,0,74.962,0
            H404.94C446.268,0,479.883,33.679,479.883,75.006z"/>

          <rect x="0.019" y="145.984" style="fill:#BBA7A6;" width="38.564" height="5.913"/>
          <rect x="441.319" y="145.984" style="fill:#BBA7A6;" width="38.564" height="5.913"/>

          <path style="fill:#9C63A6;" d="M441.34,74.983c0-20.115-16.306-36.421-36.42-36.421
            H74.983c-20.114,0-36.42,16.306-36.42,36.421v174.609H441.34V74.983z"/>

          <path style="fill:#9972B0;" d="M441.319,74.94v10.477c0-20.118-16.261-36.442-36.38-36.442
            H74.962c-20.118,0-36.38,16.325-36.38,36.442V74.94c0-20.118,16.261-36.379,36.38-36.379
            H404.94C425.058,38.562,441.319,54.823,441.319,74.94z"/>

          <path style="fill:#AF87BB;" d="M38.583,424.243v-10.477c0,20.118,16.261,36.442,36.38,36.442
            H404.94c20.118,0,36.38-16.325,36.38-36.442v10.477c0,20.118-16.261,36.379-36.38,36.379
            H74.962C54.844,460.622,38.583,444.361,38.583,424.243z"/>

          <path style="fill:#ECCDE2;" d="M117.626,314.16v29.574h109.45V314.16h-69.512
            l50.3-58.39c0.82-0.955,1.562-1.856,2.338-2.78h-39.919L117.626,314.16z"/>

          <path style="fill:#ECCDE2;" d="M302.147,265.882h4.802c8.087,0,14.32,2.236,18.704,6.697
            c4.38,4.467,6.573,10.49,6.573,18.074c0,8.087-2.276,14.282-6.825,18.579
            c-4.551,4.296-10.365,6.444-17.441,6.444c-3.204,0-6.279-0.46-9.227-1.389
            c-2.95-0.924-5.52-2.358-7.708-4.298c-2.191-1.935-3.961-4.38-5.309-7.33
            c-1.35-2.946-2.108-6.447-2.276-10.49h-32.858c0.165,9.439,1.852,17.484,5.054,24.139
            c3.2,6.66,7.457,12.134,12.765,16.431c5.309,4.298,11.375,7.457,18.199,9.479
            c6.824,2.021,13.944,3.032,21.36,3.032c7.749,0,15.079-1.098,21.99-3.287
            c6.907-2.186,12.975-5.517,18.202-9.985c5.221-4.462,9.352-10.066,12.384-16.809
            c3.033-6.738,4.549-14.573,4.549-23.507c0-10.953-2.273-19.672-6.824-26.16
            c-3.632-5.179-7.883-9.32-12.696-12.513h-43.418V265.882z"/>

          <path style="fill:#D1B6D7;" d="M222.146,236.307c1.601-3.2,2.821-6.529,3.665-9.984
            c0.842-3.451,1.265-7.37,1.265-11.755c0-8.088-1.352-15.376-4.043-21.864
            c-2.699-6.486-6.447-11.964-11.249-16.43c-4.803-4.463-10.577-7.918-17.315-10.364
            c-6.742-2.442-14.072-3.665-21.99-3.665c-7.753,0-14.959,1.18-21.612,3.538
            c-6.66,2.362-12.474,5.814-17.441,10.363c-4.972,4.551-8.849,10.071-11.628,16.557
            c-2.781,6.489-4.171,13.864-4.171,22.117h32.859c0-4.38,0.632-8.044,1.897-10.995
            c1.262-2.948,2.945-5.309,5.054-7.079c2.107-1.771,4.462-3.032,7.079-3.792
            c2.61-0.757,5.264-1.138,7.963-1.138c7.076,0,12.467,2.067,16.176,6.194
            c3.706,4.131,5.56,9.566,5.56,16.304c0,4.212-0.72,7.923-2.149,11.122
            c-1.434,3.202-3.834,6.74-7.203,10.615l-14.58,16.937h39.919
            c2.098-2.501,4.094-4.926,5.879-7.205C218.521,242.669,220.542,239.509,222.146,236.307z"/>

          <path style="fill:#D1B6D7;" d="M356.619,237.191c3.958-5.814,5.94-13.605,5.94-23.381
            c0-7.584-1.35-14.535-4.043-20.854c-2.699-6.319-6.488-11.752-11.376-16.304
            c-4.888-4.549-10.702-8.088-17.44-10.617c-6.742-2.527-14.072-3.79-21.992-3.79
            c-7.582,0-14.703,1.18-21.359,3.538c-6.66,2.362-12.429,5.731-17.315,10.111
            c-4.889,4.384-8.808,9.73-11.754,16.05c-2.951,6.319-4.509,13.525-4.676,21.611
            h32.861c0.334-6.907,2.567-12.26,6.698-16.05c4.126-3.791,9.31-5.688,15.545-5.688
            c5.898,0,11.034,1.939,15.419,5.814c4.38,3.879,6.573,9.606,6.573,17.189
            c0,6.406-1.77,11.752-5.308,16.05c-3.541,4.297-9.355,6.446-17.442,6.446h-4.802
            v15.672h43.418c-1.216-0.807-2.442-1.595-3.732-2.274
            C347.729,247.516,352.657,243.005,356.619,237.191z"/>

          <g>
            <rect x="115.133" y="384.277" style="fill:#ECCDE2;" width="19.914" height="19.914"/>
            <rect x="115.133" y="412.32" style="fill:#ECCDE2;" width="19.914" height="19.915"/>
            <rect x="143.848" y="412.32" style="fill:#ECCDE2;" width="19.915" height="19.915"/>
            <rect x="201.278" y="412.32" style="fill:#ECCDE2;" width="19.915" height="19.915"/>
            <rect x="229.994" y="384.277" style="fill:#ECCDE2;" width="19.914" height="19.914"/>
            <rect x="229.994" y="412.32" style="fill:#ECCDE2;" width="19.914" height="19.915"/>
            <rect x="287.424" y="384.277" style="fill:#ECCDE2;" width="19.915" height="19.914"/>
            <rect x="287.424" y="412.32" style="fill:#ECCDE2;" width="19.915" height="19.915"/>
            <rect x="316.14" y="412.32" style="fill:#ECCDE2;" width="19.915" height="19.915"/>
            <rect x="344.855" y="384.277" style="fill:#ECCDE2;" width="19.915" height="19.914"/>
          </g>
        </g>
      </svg>

      <div class="contact-text">
        <h2>Business Hours</h2>
        <p><%= @contact_page.business_hours %></p>
      </div>
    </div>

    <div class="contact-item">
      <svg class="contact-icon location-contact-icon"
           xmlns="http://www.w3.org/2000/svg"
           viewBox="0 0 424.269 512"
           preserveAspectRatio="xMidYMid meet"
           aria-hidden="true">
        <g>
          <path style="fill:#6DBAE6;" d="M424.269,212.061c0,58.586-23.759,111.638-62.128,150.007
            L213.684,510.451L212.134,512L62.275,362.141c-7.231-7.157-13.872-14.905-19.996-23.095
            C15.716,303.703,0,259.726,0,212.061c0-51.06,18.077-97.914,48.182-134.512
            c8.78-10.773,18.668-20.586,29.366-29.367C114.147,18.077,161.074,0,212.134,0
            c40.655,0,78.582,11.437,110.826,31.211c28.554,17.487,52.609,41.541,70.097,70.097
            C412.831,133.552,424.269,171.478,424.269,212.061z"/>

          <path style="fill:#796A56;" d="M339.392,212.081c0,70.284-56.968,127.258-127.259,127.258
            c-70.277,0-127.258-56.974-127.258-127.258S141.856,84.822,212.133,84.822
            C282.424,84.822,339.392,141.797,339.392,212.081z"/>

          <path style="opacity:0.13;fill:#1F1B18;" d="M424.269,212.061c0,58.586-23.759,111.638-62.128,150.007
            L213.684,510.451L212.134,512V0c40.655,0,78.582,11.437,110.826,31.211
            c28.554,17.487,52.609,41.541,70.097,70.097
            C412.831,133.552,424.269,171.478,424.269,212.061z"/>
        </g>
      </svg>

      <div class="contact-text">
        <h2>Location</h2>
        <p><%= @contact_page.address %></p>
      </div>
    </div>
  </div>

  <div class="contact-map">
    <% if @contact_page.map_embed_url.present? %>
      <iframe
        src="<%= @contact_page.map_embed_url %>"
        width="100%"
        height="500"
        style="border: 0;"
        allowfullscreen
        loading="lazy"
        referrerpolicy="strict-origin-when-cross-origin">
      </iframe>
    <% else %>
      <p>Map coming soon</p>
    <% end %>
  </div>
</section>